{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
{% include 'myapp/messages.html' %}
<div class="">
    {% if user.is_authenticated %}
    <div class="">    
        <div class="Text-heading">My Blogs</div>
        <a href="{% url 'createblog' %}"><button type="button" class="btn btn-dark">Add Blog</button></a>
        {% if Userblogssize == 0 %}
        <h4>You have not poster any blogs yet</h4>
        {% else %}
        {% for blog in blogs %}   
            <div class="Recent-blogs">
                <div class="blog-body">
                    <h2>{{ blog.title }}</h2>
                    <h4>{{ blog.author }}</h4>
                    <h5>{{ blog.date_posted }}</h5>
                </div>
                <a href="{% url 'blogdetail' blog.slug %}"><button type="button" class="btn btn-dark"><i class="fa-brands fa-readme"></i>&nbsp; Read more</button></a>
            </div>    
        {% endfor %}  
        {% endif %}
    </div>    
    {% else %}
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
        <div class="carousel-inner">
        {% for article in articles %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        {% if forloop.counter0 == 0 %}
        <div class="carousel-item active">
            <img src="{{ article.urlToImage }}" style="filter: brightness(50%);" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h6>{{ article.title }}</h6>
                <p>{{ article.description }}</p>
                <span><b>Please Login to read more</b></span>
            </div>
        </div>
        {% else %}
        <div class="carousel-item">
            <img src="https://i.ibb.co/0YtrtG1/bg.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h5>Please Login</h5>
                <p>Go to the "Me" menu to login or sign up in case you don't have an account</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>    
            <div class="container">
                <div class="Text-heading" style="text-align: center;">Recent Blogs</div>
                    {% for blog in blogs %} 
                    {% if forloop.counter0 < 2 %}
                    <div class="Recent-blogs" style="text-align: left; padding: 20px;">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="blog-body">
                                    <h4>{{ blog.title }}</h4>
                                    <large>{{ blog.author }}</large><br>
                                    <small>{{ blog.date_posted }}</small>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <p>{{ blog.content }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>  
            <br><br>
            <div style="text-align: center;"><B>Please <a href="{% url 'login' %}">Login</a> to Read more</B></div><br></br>
        {% endif %}
</div>
{% endblock %}