{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
{% include 'myapp/messages.html' %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
            <fieldset class="form-group">
            <div>
                <div class="Text-heading" style="text-align:center;">Discover</div>       
                <div class="row">
                    <div class="col-md-4 col-9 mb-3">
                        <input type="text" class="form-control" name="title">
                        <label class="text-muted">Search is based on news headline and content keywords</label> 
                    </div>
                <div class="col-md-4 col-3"><button type="submit" value="Search" class=" btn btn-dark "><i class="fa-solid fa-magnifying-glass"></i></button></div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="container">
    {% for article in articles %}
    <div class="row"> 
            <div class="card" style="padding: 20px; margin-bottom: 20px;">
                <div class="row">
                    <div class="col-12 col-md-4"><a href="{{ article.url }}">
                        <img src="{{ article.urlToImage }}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-12 col-md-8">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.description }}</p>
                    </div>
                </div>
                <div class="card-body">
                <hr>
                <div class="row">
                    <div class="col-6">
                        <small>Date: {{ article.publishedAt }}</small><br>
                        <small>By: {{ article.author}}</small><br><b>Source: {{ article.source.name }}</b>
                    </div>
                    <div class="col-6" style="text-align: end;">
                        <a href="{{ article.url }}" class="btn btn-dark"><i class="fa-brands fa-readme"></i>&nbsp; Read more</a>
                    </div>
                </div>
                </div>
            </div>
    </div>    
    {% endfor %}  
</div>
</div>
{% endblock %}